button {
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  padding: 0.6em 1.2em;
  border-radius: 5px;
}
button.primary {
  background-color: #97614a;
  color: #f5f5dc;
  border: 1px solid #684333;
}
button.secondary {
  border: 1px solid #97614a;
  color: #684333;
  background-color: #f5f5dc;
}
button.action {
  background-color: #d2f2c9;
  color: #5b2e1a;
}
button.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

button:hover {
  filter: brightness(1.2);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled,
button:disabled:hover {
  background-color: #d3d3d3;
  color: #333333;
  cursor: not-allowed;
  filter: brightness(1.1);
}
