* {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  min-height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  color: #333333;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: grid;
  gap: 2rem;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

h1,
h2,
h3 {
  color: #684333;
}

img {
  max-width: 100%;
}

footer {
  padding: 1rem;
  .links {
    gap: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* 
ljusblå: #a9cce3;
turkosblå: #b2d7ee;
ljusare blå: #c8e4f3; 
ljusgrön: #A8E4A0;
neongrön: #98fb98; 
pastellgrön: #d2f2c9;
#F5F5DC: En varm och ljus beige nyans.
#E3DAC9: En något mörkare och mer gulbeige ton.
#D2B48C: En mörkare och mer brunaktig beige färg.
#F29B76: En varm och ljus orange färg.
#FFA07A: En mer korallfärgad ton.
#FF7F50: En mörkare och mer intensiv orange färg.

*/

.blur {
  filter: blur(3px);
}
.start-section {
  position: relative;
}

.menu-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
}

.about-section {
  background-color: #d2f2c9;
  padding: 1.5rem;
  overflow: hidden;
  animation: expandAnimation 0.5s ease-in-out 1 forwards;
}

.form-section {
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
  min-height: 50vh;
  background-color: #f8d7da;
  z-index: 100;
  filter: drop-shadow(2px 4px 6px black);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-section:has(.greenBg) {
  background-color: #d2f2c9;
}

.teacher-section {
  .btn-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
  }
}

@keyframes expandAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  .form-section {
    left: 4rem;
    right: 4rem;
  }
}
