* {
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  color: #333333;
}

button {
  background-color: #97614a;
  color: white;
}
.secondary {
  border: 1px solid #97614a;
  color: #684333;
  background-color: transparent;
  font-size: small;
  margin-left: auto;
}

h1,
h2,
h3 {
  color: #684333;
}

/* 
ljusblå: #a9cce3;
turkosblå: #b2d7ee;
ljusare blå: #c8e4f3; 
ljusgrön: #A8E4A0;
neongrön: #98fb98; 
pastellgrön: #d2f2c9;
#F5F5DC: En varm och ljus beige nyans.
#E3DAC9: En något mörkare och mer gulbeige ton.
#D2B48C: En mörkare och mer brunaktig beige färg.
#F29B76: En varm och ljus orange färg.
#FFA07A: En mer korallfärgad ton.
#FF7F50: En mörkare och mer intensiv orange färg.

*/

.start-section {
  position: relative;
}

.menu-section {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #333333;
  .menu-intro {
    padding: 1rem 2rem;
    letter-spacing: 0.02em;
    width: 100%;
  }
  .menu-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.5rem;
  }
}

.question-section {
  padding: 3rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  gap: 1rem;
  background-color: #c8e4f3;
  img,
  .card-section {
    max-width: 100%;
    width: 100%;
  }
}

.card,
img {
  padding: 1em;
  cursor: pointer;
  /* border: 1px solid #a9cce3;
  border-radius: 5px; */
}

.answer {
  animation: cardAnimation 0.2s ease-in-out 1 forwards;
}

/* .answer p {
  top: 5em;
  max-height: 9rem;
  overflow: auto;
} */

.about-section {
  background-color: #d2f2c9;
  padding: 2rem 1rem;
}

.form-section {
  position: absolute;
  top: 50%;
  left: 1rem;
  right: 1rem;
  transform: translateY(-50%);
  min-height: 50vh;
  background-color: white;
  .close {
    text-align: end;
    padding: 1rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    input,
    textarea {
      padding: 0.5rem;
      border: 1px solid #a9cce3;
      border-radius: 5px;
      font-family: unset;
    }
    button {
      background-color: #a9cce3;
      color: white;
      padding: 0.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

@keyframes cardAnimation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .question-section {
    flex-direction: row;
    .card-section,
    img {
      max-width: 45%;
    }
    .card,
    img {
      padding: 1em 2em;
    }
  }
  .form-section {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
